.header {
    background-color: #558b2f;
    position: relative;
}

h1 {
    margin-top: 0px;
    padding: 10px 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.numOfItems {
    position: absolute;
    bottom: 10%;
    right: 10%;
}